// Platform
$layout-breakpoint: 1000px;

// Color
$black-color: #32333c;
$white-color: #ffffff;
$light-grey-color: #8a8fa3;
$violet-color: #754ef9;
$box-shadow-color: #868686;
$header-background-color: #fbfbfb;

// Font
$default-font-family: 'Poppins', sans-serif;

