@import './variables';

@mixin font($family, $transform, $color, $size, $weight) {
	text-transform: $transform;

	color: $color;

	font-family: $family;
	font-size: $size;
	font-weight: $weight;
}

@mixin form($bg-color) {
	.background {
		background-color: $bg-color;

		.container {
			display: flex;

			padding: 100px 0;

			background-color: $bg-color;
			align-items: center;
			flex-flow: column wrap;

			.title {
				padding-bottom: 25px;

				@media (min-width: $layout-breakpoint) {
					@include font(inherit, inherit, $black-color, 45px, 700);
				}

				@media (max-width: $layout-breakpoint) {
					@include font(inherit, inherit, $black-color, 35px, 600);
				}
			}

			.content {
				@media (min-width: $layout-breakpoint) {
					width: $layout-breakpoint;
				}

				@media (max-width: $layout-breakpoint) {
					width: calc(100% - 30px);
				}
			}
		}
	}
}
