// Platforms
$layout-breakpoint: 1000px;

// Colors
$black-color: #32333c;
$white-color: #ffffff;
$grey-color: #d9d9d9;
$light-grey-color: #8a8fa3;
$violet-color: #754ef9;
$box-shadow-color: #868686;

// Fonts
$default-font-family: 'Poppins', sans-serif;

// Images
$header-bg-img: '../../../assets/images/techology-network.png';

