// Platforms
$layout-breakpoint: 1000px;

// Colors
$black-color: #32333c;
$dark-midnight-blue-color: #152136;
$midnight-blue-color: #1c2940;
$white-color: #ffffff;
$grey-color: #d9d9d9;
$light-grey-color: #8a8fa3;
$violet-color: #754ef9;
$opalescent-color: #fbfbfb;
$shadow-color: #868686;

// Fonts
$default-font-family: 'Poppins', sans-serif;

// Images
$header-bg-img: '../../../assets/images/techology-network.png';
$mac-img: '../../../../../assets/images/macbook.png';
