@import '../../../styles/abstracts/variables';

.nav {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding: 30px 0;
  background-color: $white-color;
  box-shadow: 0 0 30px 0 $box-shadow-color;

  .content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: $layout-breakpoint;
    padding: 0 15px;
    position: relative;
  }
}