@import '../../../styles/abstracts/variables';

.nav {
	position: fixed;
	z-index: 2;

	display: flex;

	width: 100%;
	padding: 30px 0;

	background-color: $white-color;
	box-shadow: 0 0 30px 0 $shadow-color;
	flex-flow: row wrap;
	justify-content: center;

	.content {
		position: relative;

		display: flex;

		width: $layout-breakpoint;
		padding: 0 15px;
		align-items: center;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}
