@import '../../../../../styles/abstracts/variables';

.basic-info-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 5px;

  .icon {
    color: $violet-color;
  }

  .text {
    padding-left: 10px;

    span:first-child {
      color: $black-color;
    }
  }
}