@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.footer {
	display: flex;

	background-color: $dark-midnight-blue-color;
	flex-flow: column wrap;

	.content {
		display: flex;

		padding: 30px 15px;
		align-items: center;
		flex-flow: column wrap;

		.brand {
			margin-bottom: 15px;
			margin-left: -95px;
		}

		.slogan {
			@include font(inherit, inherit, $white-color, inherit, inherit);
			margin-bottom: 20px;
		}
	}

	.copyright {
		@include font(inherit, inherit, $white-color, inherit, inherit);
		padding: 20px;

		text-align: center;

		background-color: $midnight-blue-color;
	}
}
