@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.about-me {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
  padding: 100px 0;

  .title {
    @include font(inherit, inherit, $black-color, 45px, 700);
    padding-bottom: 25px;
  }

  .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .introduction {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-start;
      padding: 25px 0;

      .greeting {
        @include font(inherit, inherit, $black-color, 18px, 500);
        padding-bottom: 15px;
      }

      @media (min-width: $layout-breakpoint) {
        flex: 0.45;
      }

      @media (max-width: $layout-breakpoint) {
        flex: auto;
      }
    }

    .skills {
      display: flex;
      flex-flow: column wrap;
      align-items: flex-end;
      padding: 25px 0;

      @media (min-width: $layout-breakpoint) {
        flex: 0.45;
      }

      @media (max-width: $layout-breakpoint) {
        flex: auto;
      }
    }

    @media (min-width: $layout-breakpoint) {
      padding: 0;
      width: $layout-breakpoint;
    }

    @media (max-width: $layout-breakpoint) {
      padding: 0 15px;
      width: auto;
    }
  }
}