@import '../../../../../styles/abstracts/variables';

.nav-menu {
	@media (min-width: $layout-breakpoint) {
		.content {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
		}
	}

	@media (max-width: $layout-breakpoint) {
		position: absolute;
		top: 95px;
		left: 0;

		width: 100%;
		margin: 0;
		padding: 0;

		.content {
			display: flex;
			overflow: hidden;
			flex-direction: column;

			margin: 0 15px;

			transition: max-height 0.3s ease-out 0s;

			background-color: $white-color;
			box-shadow: 0 10px 15px 0 $shadow-color;

			&.is-visible {
				max-height: 200px;
				padding: 3px 12px;
			}

			&.is-invisible {
				max-height: 0;
				padding: 0 12px;
			}
		}
	}
}
