@import '../abstracts/variables';

.nav-item {
  @media (min-width: $layout-breakpoint) {
    position: relative;

    &:hover, &.is-active {
      a {
        color: $violet-color;
        &::before {
          height: 45px;
        }
      }
    }

    &:not(:first-child) {
      margin-left: 30px;
    }

    a::before {
      position: absolute;
      left: 50%;
      top: -50px;
      content: '';
      width: 3px;
      height: 0;
      background-color: $violet-color;
      transition: height .3s ease-out 0s;
    }
  }

  @media (max-width: $layout-breakpoint) {
    margin: 4px 0;

    &.is-active {
      a {
        color: $violet-color;
      }
    }
  }
}