@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.progress-bar-item {
  display: flex;
  flex-flow: column wrap;

  &:not(:first-child) {
    margin-top: 25px;
  }

  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .name, .value {
      @include font($default-font-family, inherit, $black-color, 16px, 400);
    }
  }

  .bar {
    height: 5px;
    border-radius: 5px;
    background-color: $grey-color;
    margin-top: 15px;
    overflow: hidden;

    .percentage {
      height: 5px;
      border-radius: 5px;
      background-color: $violet-color;
    }
  }
}