@import '../../../styles/abstracts/variables';

.timeline {
	position: relative;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;

	.icon {
		display: flex;
		flex-flow: row wrap;

		.contour {
			display: flex;

			width: 50px;
			height: 50px;

			border: 4px solid $grey-color;
			border-radius: 100%;
			align-items: center;
			flex-flow: row wrap;
			justify-content: center;

			i {
				color: $violet-color;
			}
		}
	}

	&::before {
		position: absolute;
		bottom: 0;
		left: 27px;

		width: 4px;
		height: calc(100% - 58px);

		content: '';

		background: $grey-color linear-gradient(to bottom, $grey-color 1%, $grey-color 75%, $opalescent-color 100%);
	}

	.events {
		display: flex;

		padding-left: 58px;
		flex-flow: column wrap;
	}
}
