@import '../../../styles/abstracts/variables';

.brand {
	position: relative;

	width: fit-content;

	img {
		width: 50px;
		height: 50px;
	}

	&::after {
		position: absolute;
		right: -90px;
		bottom: 5px;

		width: 90px;

		content: 'ungVMNguyen';

		color: $violet-color;

		font-size: 12px;
	}
}
